#portfolio {
	font-size: clamp(0.6em, 2.5vw, 1em);
	padding-block: 1em 1.5em;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 1.5em;

	h2 {
		font-size: 2.75em;
		text-align: center;
	}

	#projDisplays {
		max-width: 90em;
		margin-inline: inherit;
		padding-inline: 1em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2em;
	}

	#moreProjects {
		max-width: 80em;
		margin-inline: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.75em 2.25em;
		align-items: center;
	}

	#collapsedProjects {
		max-width: fit-content;
		margin: auto;
		transition: all 300ms ease-in-out;

		> button {
			font-size: 1.15em;
			font-weight: bold;
			max-width: clamp(15em, 90vw, 40em);
			padding: 0.5em 0.75em;
			color: inherit;
			background-color: var(--backgroundColor);
			box-shadow: 0 0 0.15em 0.05em black;
			transition: inherit;

			&:hover,
			&:focus {
				transform: scale(1.05);
				filter: drop-shadow(0 0 0.25em var(--highlightColor));
			}
		}

		&:not(.open) {
			> button {
				font-weight: unset;
				font-size: unset;
				opacity: 0.575; /* Basically the minimum opacity where the text color contrast gets a green/passing score */
			}

			> div {
				max-height: 0;
				padding-block: 0;
			}
		}

		> div {
			max-height: 25em;
			overflow-y: hidden;
			padding-block: 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;
			transition: inherit;
		}
	}
}
