:root {
	scroll-behavior: smooth;
	--headerHeight: 4em;
	scroll-padding-top: calc(1em + var(--headerHeight));
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	min-width: 22.5rem;
	/* 360px divided by 16 (usual default font size) is 22.5rem */
}

#root {
	font-synthesis: style weight;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--textColor: #d4d4d4;
	--filterToTextColor: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1234%)
		hue-rotate(198deg) brightness(96%) contrast(87%);
	--textSubColor: #a8a8a8;
	--filterToTextSubColor: brightness(0) saturate(100%) invert(43%) sepia(0%) saturate(1102%)
		hue-rotate(190deg) brightness(100%) contrast(82%);
	--backgroundColor: #1e1e1e;
	--filterToBackgroundColor: brightness(0) saturate(100%) invert(9%) sepia(0%) saturate(0%)
		hue-rotate(266deg) brightness(99%) contrast(94%);
	--backgroundSubColor: #333333;
	--filterToBackgroundSubColor: brightness(0) saturate(100%) invert(14%) sepia(0%) saturate(1271%)
		hue-rotate(135deg) brightness(98%) contrast(84%);
	--accentColor: #006ace;
	--filterToAccentColor: brightness(0) saturate(100%) invert(23%) sepia(76%) saturate(2677%)
		hue-rotate(196deg) brightness(98%) contrast(101%);
	--highlightColor: #f5cb32;
	--filterToHighlightColor: brightness(0) saturate(100%) invert(80%) sepia(40%) saturate(769%)
		hue-rotate(356deg) brightness(97%) contrast(97%);

	color-scheme: dark;
	font-family: "Fira Code", monospace;

	min-height: inherit;
	min-width: inherit;
	color: var(--textColor);
	background-color: var(--backgroundColor);
	transition: font-size 300ms ease;
	scroll-behavior: smooth;

	:focus {
		outline: none;
	}

	> main > hr {
		max-width: 97.5%;
		height: 0.05rem;
		margin: 0 auto;
		border: none;
		background-color: color-mix(in srgb, var(--textSubColor), var(--backgroundColor) 70%);
	}

	img {
		pointer-events: none;
		user-select: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	button,
	a,
	summary {
		cursor: pointer;
	}

	button,
	a,
	summary,
	input,
	textarea {
		font-size: inherit;
		font-family: inherit;
		border: none;
	}

	::-webkit-scrollbar {
		width: 1rem;
		height: 1rem;
	}

	::-webkit-scrollbar-track {
		border: 0.05rem solid color-mix(in srgb, var(--textColor), var(--backgroundColor) 80%);
		background: var(--backgroundColor);
	}

	::-webkit-scrollbar-corner {
		background: var(--backgroundColor);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--backgroundColor);
		transition: background-color 350ms;
	}

	:hover::-webkit-scrollbar-thumb {
		background-color: color-mix(in srgb, var(--textColor), var(--backgroundColor) 82.5%);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: color-mix(in srgb, var(--textColor), var(--backgroundColor) 77.5%);
	}

	::-webkit-scrollbar-thumb:active {
		background-color: color-mix(in srgb, var(--textColor), var(--backgroundColor) 65%);
	}
}

@media (min-width: 60rem) {
	#root {
		font-size: 1.25em;
	}
}
