header {
	font-family: "Share Tech Mono", monospace;
	width: 100%;
	height: var(--headerHeight);
	padding: 0.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	background-color: var(--backgroundSubColor);
	box-shadow: 0 0 0.25em 0.1em black;
	z-index: 999;
	position: sticky;
	top: 0;

	a {
		text-decoration: none;
		transition: all 150ms ease-in-out;

		&:has(div) {
			&:nth-child(2) {
				order: 0;
			}

			&:nth-child(3) {
				order: 2;
			}
		}

		div {
			font-size: 1.25em;
			padding: 0.35em 0.35em;
			color: var(--textColor);
			font-weight: bold;
			transition: inherit;
		}

		&:has(img) {
			order: 1;
			padding-top: 0.2em;
		}

		img {
			box-sizing: content-box;
			height: 2.25em;
			padding: 0.5em 1em;
			width: auto;
			border-inline: 0 solid var(--textSubColor);
			border-width: 0.03em;
			transition: inherit;
		}

		&:hover :is(div, img),
		&:focus :is(div, img) {
			background-color: var(--backgroundColor);
			border-width: 0;
			transform: scale(1.05);
		}
	}
}
